.navbar{
    display: flex;
    justify-content: center;
    background-color: #992a22;
    padding: 0.5em;
    border-bottom: 2.5px solid #fff;
    position: relative;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Sombra suave */
}
.logo_scitec{
    width: 80px;
    height: 60.26px;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
}

.item{
    margin-right: 2.5rem;
    font-size: 16px;
}

.item a{
    color: #fff;
    text-decoration: none;
}

.item a:hover{
    /* color: rgb(44, 44, 44); */
    font-weight: 600;
}