/* Before edit */

/* Fundo do modal */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
  
  /* Conteúdo do modal */
.modal_content {
    background-color: #fff;
    border-radius: 8px;
    width: 60%;
    max-width: 600px;
    height: 1000px;
    max-height: 800px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: row;
}
  
  /* Botão de fechar (X) */


.title_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

.title{
    font-weight: 600;
    color: #153c63;
    font-size: 18px;
}

.verification_container{
    display: flex;
    flex-direction: flex;
    align-items: center;

}

.verification_box{
    background-color: #225d991e;
    height: 25px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.verification_text{
    font-size: 12px;
    color: #0e273fb7;
}

.verification_box:hover{
    background-color: #0d243a28;
}

.verification_date{
    font-size: 12px;
    font-weight: 500;
    color: #153c63;
}

.description_container{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.description_title{
    font-weight: 600;
    color: #153c63;
    font-size: 18px;
}

.description_box{
    background-color: #7693af1e;
    cursor: pointer;
    width: 100%;
    height: 100px;
    border-radius: 5px;
}

.description_box:hover{
    background-color: #0d243a28;
}

.description_text{
    color: #153c63;
    text-align: left;
    margin: 10px;
}

.box_container{
    background-color: #225d991e;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 25px;
}

.status, .anoEscopo, .link{
    color: #153c63;
    font-weight: 600;
    font-size: 12px;
}

.info_container{
    display: flex;
    flex-direction: row;
    align-items: start;
}

.status_container, .anoEscopo_container, .linkNorma_container{
    display: flex;
    flex-direction: column;
    margin-right: 12px;
}

.situation_title, .anoEscopo_title, .link_text{
    color: #0e273fb7;
    font-size: 12px;
    font-weight: 700;
}

.tagMainDev_title, .numberDev_title, .partDev_title,
.yearDev_title{
    color: #0e273fb7;
    font-size: 12px;
    font-weight: 700;
}


.activity_container{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.activity_title{
    font-weight: 600;
    color: #153c63;
    font-size: 18px;
}

.activity_box{
    background-color: #7693af1e;
    width: 100%;
    height: 100px;
    border-radius: 5px;
    cursor: pointer;
}

.activity_box:hover{
    background-color: #0d243a28;
}

.activity_text{
    text-align: left;
    color: #153c63;
    font-weight: 400;
    margin: 10px;
}

.devInfo_container{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.devInfo_title{
    font-weight: 600;
    color: #153c63;
    font-size: 18px;
}

.devInfo_elements{
    display: flex;
}

.gestao_container{
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: space-between;
}

.button_gesto_container{
    display: flex;
}

.acoes{
    color: #0e273fb7;
    font-size: 12px;
    font-weight: 700;
}

.button_edit{
    background-color: #225d991e;
    color: #153c63;
    border: none;
    font-size: 12px;
}

.button_edit:hover{
    background-color: #0d243a28;
    transition: 0.4s ease;
}

.button_delete{
    background: linear-gradient(to right, #225d991e 50%, #0d243a28 50%);
    background-size: 200% 100%;
    background-position: left;
    transition: none;
    color: #153c63;
    border: none;
    font-size: 12px;
}

.button_edit, .button_delete{
    float: right;
    margin-top: 10px;
    border-radius: 2px;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    height: 25px;
}

.button_delete:hover{
    background-position: right;
    transition: background-position 2s ease;
    animation: swing 1s infinite;
}

.button_delete:active{
    background-color: blue;
}

.close_modal{
    background-color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
    flex: 1;
}

.close_modal:hover{
    background-color: #cecdcd;
}

