/* Fundo do modal */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
  
  /* Conteúdo do modal */
.modal_content {
    background-color: #fff;
    border-radius: 8px;
    width: 60%;
    max-width: 500px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
}
  
  /* Botão de fechar (X) */
.close {
    top: 10px;
    right: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
}
  
.close:hover {
    color: #831316;
}

.row{
    display: flex;
    font-size: 12px;
    justify-content: space-between;
}

.row_description{
    text-align: right;
}

.gestao_container{

}

.title{
    margin: 10px;
    margin-left: 0;
    font-size: 14px;
    font-weight: 500;
    color: #3a3a3a; 
}

.title_container{
    height: 40px;
    border-bottom: 1px solid #3a3a3a;
    display: flex;
    justify-content: space-between;
}

.dev_container{
    border-bottom: 1px solid;
}

button{
    color: white;
}

.button_edit{
    background-color: #0c2f5a;
}

.button_delete{
    background: linear-gradient(to right, #5c0c0f 50%, #ca1d22 50%);
    background-size: 200% 100%;
    background-position: left;
    transition: none;
}

.button_edit, .button_delete{
    padding: 7px 8px;
    float: right;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
    overflow: hidden;
}

.button_edit:hover{
    background-color: #1c66c0;
    transition: 1.2s ease;
    

}

.button_delete:hover{
    background-position: right;
    transition: background-position 2s ease;
    animation: swing 1s infinite;
}

.button_delete:active{
    background-color: #ca1d22;
}

@keyframes swing {
    0% {
        transform: scale(1);
        transform: rotate(0deg);
       
    }
    25% {
        transform: scale(1.01);
        transform: rotate(1deg);
        
    }
    50% {
        transform: scale(1.02);
        transform: rotate(2deg);
        
    }
    25% {
        transform: scale(1.01);
        transform: rotate(-1deg);

    }
    100% {
        transform: scale(1); 
        transform: rotate(0deg);
        
    }
}